<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WorksheetProperties" value="[{'Worksheet':'DOT Releases','Range':'DOTReleaseData'},{'Worksheet':'Tickets','Range':'TicketData'},{'Worksheet':'Jira Tickets','Range':'JiraTicketData'},{'Worksheet':'Stories','Range':'StoryData'},{'Worksheet':'JiraStories','Range':'JiraStoryData'},{'Worksheet':'JiraTickets','Range':'JiraTicketData'},{'Worksheet':'Tickets','Range':'TicketData'},{'Worksheet':'Epics','Range':'EpicData'},{'Worksheet':'JiraEpics','Range':'JiraEpicData'},{'Worksheet':'Sprints','Range':'SprintData'},{'Worksheet':'Releases','Range':'ReleaseData'},{'Worksheet':'JiraWebServices','Range':'JiraWebServicesData'},{'Worksheet':'SprintResults','Range':'SprintResultsData'},{'Worksheet':'DevResults','Range':'DevResultsData'},{'Worksheet':'JiraBugs','Range':'JiraBugData'},{'Worksheet':'DOTReleases','Range':'DOTReleaseData'},{'Worksheet':'Milestones','Range':'MilestonesToDoData'}]"/>
  </appSettings>
</configuration>