<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WorksheetProperties"
         value="[
              {'Worksheet':'DOT Releases','Range':'DOTReleaseData'},
              {'Worksheet':'Tickets','Range':'TicketData'},
              {'Worksheet':'Jira Tickets','Range':'JiraTicketData'},
              {'Worksheet':'Stories','Range':'StoryData'},
              {'Worksheet':'JiraStories','Range':'JiraStoryData'},
              {'Worksheet':'JiraTickets','Range':'JiraTicketData'},
              {'Worksheet':'Tickets','Range':'TicketData'},
              {'Worksheet':'Epics','Range':'EpicData'},
              {'Worksheet':'JiraEpics','Range':'JiraEpicData'},
              {'Worksheet':'Sprints','Range':'SprintData'},
              {'Worksheet':'Releases','Range':'ReleaseData'},
              {'Worksheet':'JiraWebServices','Range':'JiraWebServicesData'},
              {'Worksheet':'SprintResults','Range':'SprintResultsData'},
              {'Worksheet':'DevResults','Range':'DevResultsData'},
              {'Worksheet':'JiraBugs','Range':'JiraBugData'},
              {'Worksheet':'DOTReleases','Range':'DOTReleaseData'},
              {'Worksheet':'Milestones','Range':'MilestonesToDoData'}
              ]"/>
    <add key="ColumnTypes"
         value="[
              {
                'Name':'TextLong',
                'Width':'40'
              },
              {
                'Name':'TextMedium',
                'Width':'20'
              },
              {
                'Name':'TextShort',
                'Width':'15'
              },
              {
                'Name':'Number',
                'Width':'9'
              },
              {
                'Name':'YesNo',
                'Width':'9'
              },
              {
                'Name':'Percent',
                'Width':'9'
              },
              {
                'Name':'Error',
                'Width':'9'
              },
              {
                'Name':'Date',
                'Width':'11'
              },
              {
                'Name':'Default',
                'Width':'15'
              },
              {
                'Name':'Hidden',
                'Width':'0'
              }
              ]"/>
  </appSettings>
</configuration>